<!DOCTYPE html>
<html>
    <head>
        <title>Activities</title>
        <link title="RSS" href="feeds/activities.rss" 
            type="application/rss+xml" rel="alternate" />
        <link title="Atom" href="feeds/activities.atom" 
            type="application/atom+xml" rel="alternate" />
        <link title="Activity Stream" href="feeds/activities.json" 
            type="application/json" rel="alternate" />
    </head>
    <body>
        <h1>Activities</h1>
        <% _.each(items, function (item) { %>
            <section id="activity-<%- item.id %>">
                <h3><%- item.get("object").displayName %></h3>
                <pubDate><%- item.get("published") %></pubDate>
                <link>http://s3.amazonaws.com/twas/<%= item.url() %></link>
                <p><%- item.get("object").content %></p>
            </section>
        <% }); %>
    </body>
</html>
